certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.4
Flask==2.0.3
itsdangerous==2.0.1
numexpr==2.8.1
packaging==21.3
pycparser==2.21
pyparsing==3.0.4
python-dateutil==2.8.2
requests==2.27.1
setuptools==61.2.0
six==1.16.0
threadpoolctl==2.2.0
wheel==0.37.1
keras==2.8.0
tensorflow==2.8.0
gunicorn
