<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <link rel="icon" type="image/gif/png" href="/static/img/Devi.png">
    <title>W3Farm</title>
</head>


{% if botchat %}
<body onLoad="javascript:openForm()">
{% else %}
<body>
{% endif %}
    <div class="navbar">
        <a class="logo" href="/"><img src="/static/img/Logo.png"></a>
        <div class="menu">
            <a class="home" href="#home">Home</a>
            <a class="about" href="#about">About</a>
        </div>
    </div>

    <div class="chatbot" id="open">
        <button onclick="openForm()"><img src="/static/img/chat1.png"></button>
    </div>
    <div class="chatbot" id="close">
        <button onclick="closeForm()"><img src="/static/img/chat1.png"></button>
    </div>

    <div id="chat_box">
        <div class="about_devi">
            <p>Selamat datang di W3Farm!<br>Aku Devi akan menjawab pertanyaanmu semaksimal mungkin!</p>
            <div class="img_devi">
                <img src="/static/img/e814ae711efcbcab64c7a3ada8a4bdb2.jpg">
            </div>
        </div>
        <div class="message_box">
            <div class="chat_data">
                <p style="color:#363636;" id="response"></p>
            </div>
        </div>
        <div class="input_message">
            <textarea id="question" type="text" name="question"  placeholder="Type message.." required ></textarea>
            <button class="btn" id="submit-button">Send</button>
        </div>        

    </div>
    
    <section id="home"></section>
    <div class="image_container">
        {% if filename %}
        <img class="home_bg" src="{{ url_for('static', filename=filename)}}">
        {% else %}
        <img class="home_bg" src="{{ url_for('static', filename='/img/dylan-de-jonge-9SjCXUq_qSE-unsplash.jpg')}}">
        {% endif %}
        <div class="home_bg"></div>
    </div>

    <form id="form" method="POST" enctype=multipart/form-data>
        <input type="file" accept="image/gif, image/jpeg, image/png" onchange="loadFile(event)" id="select-file" name="file" hidden>
        <label class="input-file" for="select-file" >Pilih File</label>
    </form>
    {% if result is defined %}
    <p class="opening_text">{{result}}</p>  
    {% else %}
    <p class="opening_text">Cek Tanahmu Sekarang!</p>
    {% endif %}

    <section id="about"></section>
    <div class="main">
        <div class="desc">
            <img src="/static/img/zoe-schaeffer-c3rmcDjVDbc-unsplash.jpg">
            <div class="desc_text">
                <h1>Tentang Tanah</h1>
                <p>Tanah adalah faktor terpenting kedua dalam menumbuhkan tanaman sayuran yang sehat. Ada banyak jenis tanah. Kami memilih 4 jenis tanah di bawah untuk mengidentifikasi seberapa baik tanah Anda untuk berkebun atau bertani.</p>
            </div>
        </div>
        <div class="desc_soil">
            <div class="clay">
                <div class="soil_img"><img src="/static/img/clay soil.jpg"></div>
                <div class="soil_type_desc">
                    <h1>Tanah Liat</h1>
                    <p>Tanah liat adalah bahan yang lembut, curai, dan mengandung partikel dengan ukuran butir kurang dari 4 mikrometer. Tanah Liat adalah jenis tanah berat yang mendapat manfaat dari nutrisi tinggi tetapi tetap basah dan dingin di musim dingin dan kering di musim panas.</p>
                </div>
            </div>
            <div class="silt">
                
                <div class="soil_type_desc">
                    <h1>Tanah Berlumpur</h1>
                    <p>Lanau atau lumpur adalah bahan granular dengan ukuran antara pasir dan tanah liat dan sebagian besar terdiri dari butiran kuarsa yang pecah. Sebagai tanah lanau kompromi partikel berukuran sedang, mereka dikeringkan dengan baik dan menahan kelembaban dengan baik. Tanah lanau dapat dengan mudah dipadatkan dan mudah tersapu oleh hujan.</p>
                </div>
                <div class="soil_img"><img class="img2" src="/static/img/silt soil.jpg"></div>
            </div>
            <div class="sand">
                <div class="soil_img"><img class="img3" src="/static/img/Mason-Sand.jpg"></div>
                <div class="soil_type_desc">
                    <h1>Tanah Berpasir</h1>
                    <p>Tanah berpasir ringan, hangat, kering dan cenderung asam dan rendah nutrisi. Mereka lebih cepat memanas di musim semi daripada tanah liat, tetapi cenderung mengering di musim panas dan menderita nutrisi rendah yang tersapu oleh hujan.</p>
                </div>
            </div>
            <div class="loam">
            
                <div class="soil_type_desc">
                    <h1>Tanah Geluh</h1>
                    <p>Tanah geluh merupakan campuran pasir, debu dan liat yang digabungkan untuk menghindari pengaruh negatif dari masing-masing jenis. Tanah ini subur, mudah dikerjakan dan menyediakan drainase yang baik. Karena tanah adalah keseimbangan sempurna dari partikel tanah, mereka dianggap sebagai teman terbaik tukang kebun, tetapi masih mendapat manfaat dari penambahan bahan organik tambahan.</p>
                </div>
                <div class="soil_img"><img class="img4" src="/static/img/fertile-loam-soil-suitable-planting-soil-texture-background_38663-327.jpg"></div>
            </div>
        </div>
    </div>
    <section id="us"></section>
    <div class="about_us">
        <a class="up" href="#home">
            <img src="/static/img/arrow-up.png">
        </a>
        <div class="about_container">
            <div class="img_us"></div>
            <div class="txt_us">
                <h1>Tentang Kami</h1>
                <p>Tujuan situs ini adalah untuk membantu orang-orang menanam sayuran sehat mereka sendiri dengan memberi tahu seberapa baik tanah yang mereka miliki berdasarkan foto.</p>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="/static/jquery.min.js" ></script>

<script>
    $(document).ready(function() {
        // Transition effect for navbar 
        $(window).scroll(function() {
          // checks if window is scrolled more than 500px, adds/removes solid class
          if($(this).scrollTop() > 300) { 
              $('.navbar').addClass('solid');
          } else {
              $('.navbar').removeClass('solid');
          }
        });
    });
    
    document.getElementById("select-file").onchange = function() {
        document.getElementById("form").submit();
    };
    function openForm() {
        document.getElementById("chat_box").style.display = "block";
        document.getElementById("close").style.display = "block";
        document.getElementById("open").style.display = "none";
    };
    function closeForm() {
        document.getElementById("chat_box").style.display = "none";
        document.getElementById("close").style.display = "none";
        document.getElementById("open").style.display = "block";
    };
    

    jQuery(document).ready(function() {

        $("#submit-button").click(function(e) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "/chatbot",
                data: {
                    question: $("#question").val()
                },
                success: function(result) {
                    $("#response").append("Anda: "+$("#question").val()+"<br> Devi-BOT: "+result.response + "<br><br>");
                    $("#question").val("")
                },
                error: function(result) {
                    alert('error');
                }
            });
        });
    });

</script>
</html>